<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{heading}}</title>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css"> -->
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
    <div id="main">
        <div id="nav">
            <div id="hidden">
                <p>Hide</p>
                <div id="ic-p">
                    <p class="qo">Quotes</p>
                    <p class="jo">Jokessss</p>
                    <p class="ne">News</p>
                    <p class="ab">About</p>
                </div>
                <p>User</p>
            </div>
            <div class="nav-part" id="ham">
                <i class="ri-add-line"></i>
            </div>
            <div id="icons">
                <a href="/quotes"><div class="ic-part qo" id="quotes"><i class="ri-chat-quote-line"></i></div></a>
                <a href="/jokes"><div class="ic-part jo" id="jokes"><i class="ri-emotion-laugh-line"></i></div></a>
                <a href="/news"><div class="ic-part ne" id="news"><i class="ri-newspaper-line"></i></div></a>
                <div class="ic-part ab" id="about"><a href="/about"><i class="ri-hand-heart-line"></i></div></a>
            </div>
            <div class="nav-part" id="user"><i class="ri-user-5-line"></i></div>
        </div>
        <div id="hero">
            <div id="info">
                <h1>{{heading}} Mania</h1>
                <p>{{content}}</p>
            </div>
            <a href='/{{type}}'><button>Next {{btnText}}</button></a>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js" integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> 
    <script src="scripts/script.js"></script>
</body>
</html>